name: Test
on:
  workflow_call:
    secrets:
      gh_token:
        required: true

jobs:
  test:
    if: "!contains(github.event.head_commit.message, '[skip test]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.gh_token }}

      - name: Set up Bun
        uses: gjtorikian/actions/setup-languages/bun@main

      - name: Run tests
        shell: bash
        run: bun run test test

