name: Lint
on:
  workflow_call:
    secrets:
      gh_token:
        required: true
    inputs:
      additional_commands:
        description: "Any additional commands to run"
        required: false
        default: ""
        type: string

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.gh_token }}

      - name: Set up Bun
        uses: gjtorikian/actions/setup-languages/bun@main

      - name: Run Linter
        run: bun run lint:fix

      - name: Run additional commands
        if: ${{ inputs.additional_commands != '' }}
        run: ${{ inputs.additional_commands }}

      - name: Commit linted files
        if: always()
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "[auto-lint]: Lint files"
          commit_user_name: gjtorikian-bot
          commit_user_email: 246872175+gjtorikian-bot@users.noreply.github.com
          commit_author: gjtorikian-bot <246872175+gjtorikian-bot@users.noreply.github.com>
