name: CI
concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  cancel-in-progress: true

on:
  workflow_call:
    secrets:
      gh_token:
        required: true
    inputs:
      include_musl:
        required: false
        default: false
        type: boolean
      coverage:
        description: "Whether to collect coverage information"
        required: false
        default: false
        type: boolean

env:
  CACHE_KEY_PREFIX: "cruby-v1"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        ruby-version:
          - 4.0 # LATEST_RUBY_VERSION
          - ruby-head

    steps:
      - uses: actions/checkout@v6

      - uses: oxidize-rb/actions/setup-ruby-and-rust@main
        with:
          ruby-version: ${{ matrix.ruby-version }}
          rubygems: latest
          bundler-cache: true
          cargo-cache: true
          cache-version: v1

      - name: Compile native extensions
        run: bundle exec rake compile

      - uses: gjtorikian/actions/run-ruby-tests@main
        id: run-tests
        timeout-minutes: 10
        with:
          github_token: ${{ secrets.gh_token }}
          coverage: ${{ inputs.coverage }}
